.titulo{
    padding: 20px;
    font-size: 2rem;
}
.sobre{
    display: flex;
    align-items: center;
}


.sobre_p{
    padding: 0 2rem;
    font-size: 19px;
}

.imagem_sobre{
    margin-bottom: 30px;
    margin-left: 20px;
}

