.footer{
    display: flex;
    background-color: rgb(42, 105, 105);
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
}

.copy{
    text-align: center;
    color: #fff;
    margin-top: 5px;
}

.copy_1{
    color: #fff;
}

.rsociais{
    display: flex;
    justify-content: center;
}

.item{
    margin-right: 1rem;
}

.link{
    color: rgb(8, 8, 8);
    font-size: 1.6rem;
    cursor: pointer;
}

.rtitle{
    margin-left: 42px;
    margin-bottom: 5px;
    font-size: 1.2rem;
    color: #fff;
}

.link:hover{
    color: rgb(170, 165, 165); 
}

