.main{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(42, 105, 105);
    justify-content: space-between;
    align-items: center;
    font-size: 1.7rem;
    padding: 1.5rem;
}

.nav_list{
    display: flex;
}

.list{
    margin-right: 1.5rem;
}

.link{
    color: white;
}

.title{
   color: rgb(232, 193, 36);
}

.link:hover{
    color: rgb(52, 176, 81);
}
