.main{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(42, 105, 105);
    justify-content: space-between;
    align-items: center;
    font-size: 1.7rem;
    padding: 1.5rem;
}

.nav_list{
    display: flex;
}

.list{
    margin-right: 1.5rem;
}

.link{
    color: #fff;
}

.title{
    color: rgb(226, 123, 33);
}

.link:hover{
    color: rgb(19, 156, 119);
}


